.buttons {
  display: block;
  text-align: center;
}
.btn {
  display: inline-block;
  padding: 0.75em 1.25em;
  background: $color-primary-link;
  border-radius: 0.5em;
  color: #fff;
  font-weight: inherit;
  text-shadow: none;

  &:hover,
  &:focus {
    background: shade($color-primary-link, 15%);
    text-decoration: none;
    color: #fff;
  }

  svg {
    vertical-align: -1px;
  }

  &.btn-small {
    background-color: green;
    border-radius: 0.2em;
    padding: 0 0.4em;
  }
}

.badge {
  display: inline-block;
  margin: 10px 5px;
}
